.page--collection {
	background-color: $color-grey-bg;
}

.fixed-action-btn {
		position: fixed;
		bottom: 45px;
		right: 24px;
}

.fixed-action-btn input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 9999;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
}
